.header{
    position: relative;
    display: flex;
    width:100%;
    height: 75px;
    padding: 10px;
    background:linear-gradient(rgb(147, 195, 250), rgb(68, 152, 248));
}
    .header_logo{
        position: absolute;
        left:300px;
    }
    .header_menu{
        position: absolute;
        top:35%;
        right:10%;
    }
    .menu_item{
        cursor: pointer;
        margin-right: 30px;
        color:#fff;
    }
    .menu_item img{
        margin-right: 5px;
        width: 5%;
        vertical-align: middle;
    }
.content{
    display: flex;
    justify-content: center;
    width:100%;
    padding: 20px;
    background-color: rgb(23, 113, 216);
}
.left_content{
    margin-right: 15px;
}
    /*  ----- 登入與註冊 -----  */
    .login{
        width:304px;
        margin-bottom: 15px;
        background-color:#fff;
        box-shadow: -0.5px 3px 10px #000;
    }
    .login_ctr{
        display: flex;
    }
    .login_ctr label{
        cursor: pointer;
        position: relative;
        display: inline;
        padding: 10px 60px;
        text-align: center;
        color:rgb(147, 195, 250);
        background-color: rgb(14, 58, 109);
    }
    /*.login_ctr .active{
        color:#fff;
        background:linear-gradient(rgb(68, 152, 248),rgb(14, 58, 109));
        position: relative;
    }
    
    .login_title{
        padding: 10px;
        width: 50%;
        text-align: center;
        color:#fff;
        background:linear-gradient(rgb(68, 152, 248),rgb(14, 58, 109));
    }
    .sign_up{
        padding: 10px;
        width: 50%;
        text-align: center;
        color:rgb(147, 195, 250);
        background-color: rgb(14, 58, 109);
    }
        .sign_up:hover{
            color:rgb(255, 255, 255);
            background:linear-gradient(rgb(139, 204, 113),rgb(4, 172, 26));
        }
    */
    .content_box{
        display: none;
    }

    #login_ctr_radio1:checked ~ .login_ctr [for="login_ctr_radio1"],
    #login_ctr_radio2:checked ~ .login_ctr [for="login_ctr_radio2"]{
        color:#fff;
        background:linear-gradient(rgb(68, 152, 248),rgb(14, 58, 109));
        position: relative;
    }

    #login_ctr_radio1:checked ~ .login_box .login_content,
    #login_ctr_radio2:checked ~ .login_box .sign_up_content{
        display: block;
    }

    .login_radio{
        display: none;
    }
    .login_text{
        padding: 20px 10px;
        color: gray;
    }
    .login_text input{
        margin-left: 65px;
        margin-bottom: 10px;
        padding: 5px;
        border: 1px solid grey;
        border-radius: 5px;
        box-shadow: 1px 1px 3px rgb(201, 200, 200) inset;
    }
    .login_text input[type=text]{
        width:42%;
    }
    .login_text img{
        margin-left: 5px;
    }
    .login_text input[type=submit]{
        cursor: pointer;
        margin-left: 0px;
        width:100%;
        color:#fff;
        font-size: 18px;
        font-weight: bolder;
        background:linear-gradient(rgb(68, 152, 248),rgb(14, 58, 109));
        border: 1px solid grey;
        border-radius: 5px;
    }
        .login_text input[type=submit]:hover{
            color:rgb(18, 135, 245);
            background:linear-gradient(rgb(224, 251, 253),rgb(157, 227, 248));
            border: 2px solid rgb(18, 135, 245);
        }
    .login_text a{
        display: block;
        font-size: 14px;
        font-weight: bolder;
        color:rgb(53, 140, 240);
        text-align: right;
    }
        .login_text a:hover{
            color:rgb(250, 77, 71);
        }

    .login_text span{
        cursor: pointer;
        margin-left: 0;
        padding: 5px;
        color:rgb(255, 255, 255);
        font-size: 12px;
        background-color: rgb(68, 152, 248);
    }

    .AlignRight {
        text-align: right;
    }
    /*  ----- 最新消息 -----  */
    .news{
        margin-bottom: 15px;
        background-color:#fff;
        box-shadow: -0.5px 3px 10px #000;

    }
    .news_title{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        width: 100%;
        color:#fff;
        font-size: 18px;
        font-weight: bolder;
        background:linear-gradient(rgb(68, 152, 248),rgb(14, 58, 109));
    }
    .news_title span{
        cursor: pointer;
        color:rgb(252, 229, 96);
        font-size: 22px;
    }
    .news_text{
        height: 200px;
        overflow:auto;
    }
    .news_item{
        cursor: pointer;
        display: flex;
        margin:3px 10px 3px 10px;
        padding: 10px;
        color:grey;
        border-bottom:1px solid #ccc ;
        justify-content: space-between;
    }
        .news_item:hover{
            margin: 0;
            background-color: rgb(235, 231, 231);
        }
    .news_item span{
        margin: -3px;
        padding: 3px;
        color:rgb(255, 255, 255);
        background-color: rgb(68, 152, 248);
        border-radius: 5px;
    }
    /*  ----- 新手教學 -----  */
    .teach{
        margin-bottom: 15px;
        background-color:#fff;
        box-shadow: -0.5px 3px 10px #000;
    }
    .teach_title{
        padding: 10px;
        width: 100%;
        color:#fff;
        font-size: 18px;
        font-weight: bolder;
        background:linear-gradient(rgb(68, 152, 248),rgb(14, 58, 109));
    }
    .teach_text{
        padding: 20px;
    }
    .teach_text a{
        display: inline-block;
        width: 120px;
        padding: 10px;
        margin-left: 5px;
        color:#000;
        border-bottom: 1px dotted #ccc ;
    }
        .teach_text a:hover{
            color:rgb(248, 126, 26);
            border-bottom: 1px dotted rgb(248, 126, 26) ;
        }
    .teach_text img{
        margin-right: 5px;
        vertical-align: middle;
    }
.main_content{
    margin-right: 15px;
}
    /*  ----- 大幅主頁廣告 -----  */
    .coverflow{
        height: 330px;
        position: relative;
    }
    .coverflow>a{
        display: block;
        position: absolute;
        top:0;
        left:0;
        opacity: 0;
        filter: alpha(opacity=0);
    /*當圖片數量增加，影片長度需更改，變為5s*圖片數量*/
     -webkit-animation: silder 15s linear infinite;
     animation: silder 15s linear infinite;
    }
    .coverflow>a>img{
        max-width: 100%;
    }
    /*動畫關鍵影格*/
@-webkit-keyframes silder {
    3% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    27% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
@keyframes silder {
    3% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    27% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
/*每個圖片各延遲5秒*/
.coverflow>a:nth-child(3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;               
}
.coverflow>a:nth-child(2) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}
.coverflow>a:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;    
}
/*滑入時停止播放*/
.coverflow:hover>a{
-webkit-animation-play-state: paused;
        animation-play-state: paused;
}

    .arrow_left{
        position: absolute;
        top:22%;
        left:0;
        opacity: 0;
    }
        .arrow_left:hover{
            opacity: 0.3;
        }
    .arrow_right{
        position: absolute;
        top:22%;
        right:0;
        opacity: 0;
    }
        .arrow_right:hover{
            opacity: 0.3;
        }
    /*  ----- 遊戲區塊切換 -----  */
    .game_title{
        display: flex;
        margin: 10px;
        border-bottom: 1px solid #fff;
    }
    .game_title label{
        position: relative;
        cursor: pointer;
        display: inline-block;
        padding: 8px 70px 8px 70px;
        color:rgb(147, 195, 250);
        background-color: rgb(14, 58, 109);
        border-radius: 5px 5px 0 0;
    }
    /* .game_title .active{
        color:#fff;
        background:linear-gradient(rgb(68, 152, 248),rgb(14, 58, 109));
        border: 1px solid #fff;
        border-bottom: 1px solid rgb(68, 152, 248);
    } */
    #radio1:checked ~ .game_title [for="radio1"],
    #radio2:checked ~ .game_title [for="radio2"]{
        color:#fff;
        background:linear-gradient(rgb(68, 152, 248),rgb(14, 58, 109));
        border: 1px solid #fff;
        border-bottom: 1px solid rgb(68, 152, 248);
    }

    #radio1:checked ~ .game_box .hotgame,
    #radio2:checked ~ .game_box .newgame{display: block;}

    .game_box{
        padding: 0px 20px 0px 20px;  
    }
    .game{
        display: none;
    }
    /*.hotgame{
        display: block;
    }*/
    .radio_control{
        display: none;
    }
    .game_box img{
        margin: 5px;
        box-shadow: 1px 1px 5px 2px#fff;
    }

.right_content{
    width:240px;
    height: 500px;
}
.footer{
    display: flex;
    width: 100%;
    height: 65px;
    padding: 10px;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    background: linear-gradient(rgb(147, 195, 250), rgb(68, 152, 248));
}
.footer img{
    margin-right: 10px;;
}